*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333; 
}


.cabecalho{
    background: linear-gradient(90deg, #0057b7); 
    color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.container-esquerda{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo{
    height: 40px;
}

.lista-menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

.lista-menu li{
    position: relative;
}

.lista-menu li a{
    text-decoration: none;
    color: rgb(253, 253, 255);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    transition: background 0.3s;
    border-radius: 4px;
}
.lista-menu li a:hover{
    background: linear-gradient(90deg, #0057b7); 
    border-radius: 4px;
    text-align: center;
}
.lista-menu li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: linear-gradient(90deg, #0057b7); 
    min-width: 160px;
}

.lista-menu li ul li a {
    padding: 10px 15px;
    gap: 8px;
}

.lista-menu li:hover ul{
    display: block;
}

.conteudo {
    padding: 60px;
    background: linear-gradient(90deg, #0057b7); 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#060010;
}

.introducao {
    text-align:center;
    margin-bottom: 40px;
}

.introducao h1 {
    font-size: 4em;
    margin-bottom: 15px;
    color:#ffffff
}
.introducao p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #ffff;
}
.introducao img {
    width: 500px;
    border-radius: 10px;
}

.beneficios{
    margin-bottom: 40px;
    
}
.beneficios h2 {
    color: #ffffff;
    margin-bottom: 15px;
}
.beneficios ul {
    list-style: none;
    padding: 20px;
    background-color: #f8f9fa;
    
}
.beneficios li {
    margin: 10px 0;
    font-size: 1.1em;

}
.beneficios i{
    color: #0e0e0f;
    margin-right: 10px;
}
.recursos  h2 {
    color:#ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card  {
    
    background: #f3f5f7;
    padding: 50px;
    border-radius: 12px;
    width: 270px;
    text-align: center;
    box-shadow: 0 4px 20px rgb(240, 244, 244);
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 115%;
    margin-bottom: 20px;

}
.card h3 {
    margin-bottom: 15px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
.card p {
    font-size: 0.95em;
    margin-bottom: 20px;
}
.card a {
    text-decoration: none;
    color: #f6f6f6;
    background: linear-gradient(90deg, #0057b7); 
    padding: 8px 15px;
    border-radius: 6px;
    transition: background 0.3s;
}
.card a:hover {
    background: linear-gradient(90deg, #0057b7); 
}
.rodape{
    background: linear-gradient(90deg, #0057b7); 
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.container-rodape{
    max-width: 1200px;
    margin: 0 auto;
}
.links-rodape{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links-rodape a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}
.links-rodape a:hover{
    color: #ffffff;
}
 section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}
section h2{
    color: #000207;
    margin-bottom: 15px;
}
ul{
    border-radius: 10px;
    background: linear-gradient(90deg, #0057b7); 
    padding: 20px;
    border-radius: 10px;
}
ul li {
    margin-bottom: 10px;
}

.receita-semana {
    padding: 60px 20px;
    background-color: #f8f9fa;
    text-align: center;
}

.receita-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.receita-container img {
    width: 400px;
    height: auto;
    border-radius: 12px;
}

.receita-conteudo {
    max-width: 500px;
    text-align: left;
}

.receita-conteudo h2 {
    font-size: 2.5em;
    color: #000;
    margin-bottom: 15px;
}

.receita-conteudo p {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 20px;
}

.botao-receita {
    text-decoration: none;
    background: linear-gradient(90deg, #0057b7); 
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s;
}

.botao-receita:hover {
    background: linear-gradient(90deg, #0057b7); 
}

@media (max-width: 768px) {
    .cards {
        gap: 10px;
}
}