body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d0e4f7; 
    color: #060010;
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #306998;  
    color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}


.conteudo {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    max-width: 900px;
    margin: 20px auto;
    color: #060010;
}


.card-content a {
    background-color: #306998;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.card-content a:hover {
    background-color: #254f7c; 
}


.rodape {
    background-color: #306998;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.links-rodape a {
    color: #f4f4f4;
}
.links-rodape a:hover {
    color: #b0c4de; 
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f6fa; 
    color: #000000;
}

.introducao img {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.introducao img:hover {
    transform: scale(1.02);
}

.introducao {
    text-align: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}