*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.cabecalho{
    background-color: #97b0f0;
    color: rgb(244, 244, 244);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.container-esquerda{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo{
    height: 40px;
}

.lista-menu{
    list-style: none;
    display: flex;
    gap: 20px;
}

.lista-menu li{
    position: relative;
}

.lista-menu li a{
    text-decoration: none;
    color: rgb(0, 1, 5);
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    transition: background 0.3s;
}
.lista-menu li a:hover{
    background-color: #97b0f0;
    border-radius: 4px;
}
.lista-menu li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: #97b0f0;
    min-width: 160px;
}

.lista-menu li ul li a {
    padding: 10px 15px;
    gap: 8px;
}

.lista-menu li:hover ul{
    display: block;
}

.conteudo {
    padding: 40px;
    background-color: #5b89d7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#060010;
}

.introducao {
    text-align:center;
    margin-bottom: 40px;
}

.introducao h1 {
    font-size: 4em;
    margin-bottom: 15px;
    color:#000000
}
.introducao p {
    font-size: 1.1m;
    margin-bottom: 20px;
}
.introducao img {
    width: 500px;
    border-radius: 10px;
}

.beneficios{
    margin-bottom: 40px;
}
.beneficios h2 {
    color: #000000;
    margin-bottom: 15px;
}
.beneficios ull {
    list-style: none;
    padding: 0;
}
.beneficios li {
    margin: 10px 0;
    font-size: 1.1em;
}
.beneficios i{
    color: #26396a;
    margin-right: 10px;
}
.recursos  h2 {
    color:#4f24ad;
    margin-bottom: 20px;
    text-align: center;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 250px;
}
.card  {
    background: #0881b9;
    padding: 50px;
    border-radius: 12px;
    width: 260px;
    text-align: center;
    box-shadow: 0 4px 20px rgb(240, 244, 244);
    transition: transform 0.3s;
}
.card:houver {
    transform: scale(1.05);
}
.card img {
    width: 115%;
    margin-bottom: 20px;

}
.card h3 {
    margin-bottom: 15px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
.card p {
    font-size: 0.95em;
    margin-bottom: 15px;
}
.card a {
    text-decoration: none;
    color: #000000;
    background: rgb(160, 195, 238);
    padding: 8px 15px;
    border-radius: 6px;
    transition: background 0.3s;
}
.card a:houver {
    background: #91dbf4;
}
.rodape{
    background-color: #97b0f0;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.container-rodape{
    max-width: 1200px;
    margin: 0 auto;
}
.links-rodape{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.links-rodape a {
    color: #1e4cc1;
    text-decoration: none;
    transition: 0.3s;
}
.links-rodape a:hover{
    color: #165b90;
}